In [1]:
import pandas as pd

In [2]:
dialogues_df = pd.read_csv('movie_conversations.tsv', 
                 sep="\t", 
                 error_bad_lines=False, 
                 warn_bad_lines=False, 
                 header=None)

dialogues_df.columns=['char_id1', 'char_id2', 'movie_id2', 'frase_ids']
         
dialogues_df.head()

C:\Users\admin1\AppData\Local\Temp\ipykernel_11524\1200881556.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  dialogues_df = pd.read_csv('movie_conversations.tsv',
C:\Users\admin1\AppData\Local\Temp\ipykernel_11524\1200881556.py:1: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  dialogues_df = pd.read_csv('movie_conversations.tsv',

  char_id1 char_id2 movie_id2                      frase_ids
0       u0       u2        m0  ['L194' 'L195' 'L196' 'L197']
1       u0       u2        m0                ['L198' 'L199']
2       u0       u2        m0  ['L200' 'L201' 'L202' 'L203']
3       u0       u2        m0         ['L204' 'L205' 'L206']
4       u0       u2        m0                ['L207' 'L208']

In [3]:
characters_df = pd.read_csv('movie_characters_metadata.tsv', 
                            sep='\t', 
                            warn_bad_lines=False,
                            error_bad_lines=False, 
                            header=None)

characters_df.columns=['chId','chName','mId','mName','gender','posCredits']

characters_df.head()

C:\Users\admin1\AppData\Local\Temp\ipykernel_11524\3216290704.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  characters_df = pd.read_csv('movie_characters_metadata.tsv',
C:\Users\admin1\AppData\Local\Temp\ipykernel_11524\3216290704.py:1: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  characters_df = pd.read_csv('movie_characters_metadata.tsv',

  chId    chName mId                       mName gender posCredits
0   u0    BIANCA  m0  10 things i hate about you      f          4
1   u1     BRUCE  m0  10 things i hate about you      ?          ?
2   u2   CAMERON  m0  10 things i hate about you      m          3
3   u3  CHASTITY  m0  10 things i hate about you      ?          ?
4   u4      JOEY  m0  10 things i hate about you      m          6

In [4]:
lines_df = pd.read_csv('movie_lines.tsv', 
                       sep='\t', 
                       error_bad_lines=False,
                       warn_bad_lines=False, 
                       header=None)

lines_df.columns = ['lineId','chId','mId','chName','dialogue']
lines_df.head()

C:\Users\admin1\AppData\Local\Temp\ipykernel_11524\1416047339.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  lines_df = pd.read_csv('movie_lines.tsv',
C:\Users\admin1\AppData\Local\Temp\ipykernel_11524\1416047339.py:1: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  lines_df = pd.read_csv('movie_lines.tsv',

  lineId chId mId   chName      dialogue
0  L1045   u0  m0   BIANCA  They do not!
1  L1044   u2  m0  CAMERON   They do to!
2   L985   u0  m0   BIANCA    I hope so.
3   L984   u2  m0  CAMERON     She okay?
4   L925   u0  m0   BIANCA     Let's go.

In [5]:
movies_df = pd.read_csv("movie_titles_metadata.tsv", 
                        sep='\t', 
                        error_bad_lines=False,
                        warn_bad_lines=False, 
                        header=None)

movies_df.columns = ['mId','mName','releaseYear','rating','votes','genres']

movies_df.head()

C:\Users\admin1\AppData\Local\Temp\ipykernel_11524\1533283725.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  movies_df = pd.read_csv("movie_titles_metadata.tsv",
C:\Users\admin1\AppData\Local\Temp\ipykernel_11524\1533283725.py:1: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  movies_df = pd.read_csv("movie_titles_metadata.tsv",

,mId,mName,releaseYear,rating,votes,genres
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']

In [6]:
df = dialogues_df.merge(characters_df[['chId', 'chName']], 
                       left_on=['char_id1'],
                       right_on=['chId'],
                       how='inner')

df = df.rename(columns={'chName': 'chName_1'})
df = df.drop(columns=['chId'])


df = df.merge(characters_df[['chId', 'chName']], 
              left_on=['char_id2'],
              right_on=['chId'],
              how='inner')

df = df.rename(columns={'chName': 'chName_2'})
df = df.drop(columns=['chId'])

df = df.merge(movies_df[['mId', 'mName', 'genres']], 
              left_on=['movie_id2'],
              right_on=['mId'],
              how='inner')
df = df.drop(columns=['mId'])

df

,char_id1,char_id2,movie_id2,frase_ids,chName_1,chName_2,mName,genres
0,u0,u2,m0,['L194' 'L195' 'L196' 'L197'],BIANCA,CAMERON,10 things i hate about you,['comedy' 'romance']
1,u0,u2,m0,['L198' 'L199'],BIANCA,CAMERON,10 things i hate about you,['comedy' 'romance']
2,u0,u2,m0,['L200' 'L201' 'L202' 'L203'],BIANCA,CAMERON,10 things i hate about you,['comedy' 'romance']
3,u0,u2,m0,['L204' 'L205' 'L206'],BIANCA,CAMERON,10 things i hate about you,['comedy' 'romance']
4,u0,u2,m0,['L207' 'L208'],BIANCA,CAMERON,10 things i hate about you,['comedy' 'romance']
...,...,...,...,...,...,...,...,...
82893,u9028,u9031,m616,['L666324' 'L666325' 'L666326' 'L666327'],COGHILL,MELVILL,zulu dawn,['action' 'adventure' 'drama' 'history' 'war']
82894,u9028,u9031,m616,['L666575' 'L666576'],COGHILL,MELVILL,zulu dawn,['action' 'adventure' 'drama' 'history' 'war']
82895,u9030,u9034,m616,['L666256' 'L666257'],DURNFORD,VEREKER,zulu dawn,['action' 'adventure' 'drama' 'history' 'war']
82896,u9030,u9034,m616,['L666369' 'L666370' 'L666371' 'L666372'],DURNFORD,VEREKER,zulu dawn,['action' 'adventure' 'drama' 'history' 'war']
82897,u9030,u9034,m616,['L666520' 'L666521' 'L666522'],DURNFORD,VEREKER,zulu dawn,['action' 'adventure' 'drama' 'history' 'war']

In [7]:
def get_speakers(speaker_1, speaker_2):
    return [speaker_1, speaker_2]

In [8]:
df['speakers'] = df.apply(lambda x: get_speakers(x.chName_1, x.chName_2), axis=1)

In [9]:
progress_bar = {'L236802': 12.1,
                'L400440': 24.1,
                'L602396': 36.1,
                'L113048': 48.2,
                'L220593': 60.2,
                'L376375': 72.3,
                'L511683': 84.3,
                'L638289': 96.4}

In [10]:
def get_replicas(replics_id):
    replics_id = replics_id.replace("'", "").replace("[", "").replace("]", "")
    replicas=[]
    for id in replics_id.split():
        try:
            replicas.append(lines_df[lines_df['lineId']==id]['dialogue'].values[0])
        except:
            replicas.append('Nan')
        if id in progress_bar:
            print(f'{progress_bar[id]}% выполнено')
    return replicas

In [11]:
df['replicas'] = df['frase_ids'].apply(lambda x: get_replicas(x))

12.1% выполнено
24.1% выполнено
36.1% выполнено
48.2% выполнено
60.2% выполнено
72.3% выполнено
84.3% выполнено
96.4% выполнено

In [12]:
df.to_csv('replicas.csv', index=False)